.nav {
     display: flex;
     justify-content: space-between;
     background-color: red;
 }

 .nav-list {
     display: flex;

     list-style: none;

 }

 .nav-item {
     color: #fff;
     font-size: 1.2rem;
     margin: 0px 12px;
     padding: 0px 12px;
 }

 /*--Form layout-- */
 .form-container {
   
    background-color: #ccc;
    max-width: 500px;
    margin: 36px  10px 10px 10px ;
 }
 .form_row{
    padding: 10px 8px;
    display: flex;
 }
 .form_label{
    min-width: 90px;
 }
 .form_input{
    flex:1;
 }

 .column-layout{
    display: flex;
    margin-top: 22px;
    flex-direction: row;
 }
 .column-item{
    
    color: #fff;
    padding: 0px 12px;
    
 }
 .column-item.sidebar-one:first-child{
    background-color: #757575;
    flex:1;
 }
 .column-item.main-column:nth-child(2){
    flex: 3;
    background-color: #3d3d3d;
 }
 .column-item.sidebar-two:nth-child(3){
    flex: 1;
    background-color: #ccc;
 }
 .feature-layout{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto 20px auto;
    flex-direction: column;
    
 }
 .feature-item{
    flex-basis: 30%;
    padding: 0px 15px;
 }
 .feature-item:nth-child(1){
    background-color: antiquewhite;
   }
   .feature-item:nth-child(2){
    background-color: #ccc;
   }
   .feature-item:nth-child(3){
    background-color: #757575;
   }
.wrap-layout{
    background-color: antiquewhite;
    margin-top: 30px;
    display: flex;
    padding: 12px 0 12px 0;
    justify-content: space-around;
   flex-wrap: wrap;
   /*flex-wrap: wrap-reverse;*/
  
}
.wrap-layout_item{
    width: 150px;
    height: 50px;
    line-height:50px ;
    font-size: 30px;
    background-color: #ccc;
    text-align: center;
  
    
}
.center-layout{
    display: flex;
    background-color: #ccc;
    min-height: 50px;
    max-width: 500px;
    margin:30px auto;

}
.center-layout_item{
    margin: auto;
}
.chart-layout{
    background-color: #757575;
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: flex-end;
    
}
.chart-layout_item{
    width: 60px;
    background-color: #ccc;
    animation: growth ease-in 1.5s;
}
@keyframes growth{
    from{
        opacity: 0;
        height: calc(var(--percent)-50%);
    }
    to{
        opacity: 1;
        height: var(--percent);
    }
   }
   .the-end{
    display: flex;
    background-color: rgb(164, 161, 209);
    margin-top:12px auto 48px auto ;
     max-width: 700px;
    min-height: 360px;
    padding:32px 0;
    margin: auto;
   }
   .the-end_first{
    padding: 10px 12p;
    flex:1;
    background-color: #fff;
   }
   .the-end_second{
    background-color: #ddd;
    flex: 1;
    flex-direction: column;
    
   }
   .the-end_second-one{
    background-color: #757575;
    flex: 1;
    padding: 40px 12px;
   }
   .the-end_second-two{
    flex: 1;
    padding: 40px 20px;
    background-color: antiquewhite;
   }
   /*Pc*/
   @media (min-width: 740px) {
    .feature-layout{
        flex-direction:row;
    }
    .column-layout{
        flex-direction: column;
    }
   }