.header{
    height:var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header_navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header_navbar-item-link{
    display:inline-block ;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;

}
.header_navbar-item{
    margin: 0 8px;
    display:inline-block;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    position: relative;
}

.header_navbar-item--has-qr:hover .header_qr{
    display: block;
}
.header_navbar-item--has-notify:hover .header_notify{
    display: block;
}
.header_navbar-item,
.header_navbar-icon-link:hover,
.header_navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-item--strong{
    font-weight: 700;
}
.header_navbar-item--separate::after{
    content: "";
    display:block;
    position:absolute;
    width: 1px;
    height: 17px;
    border-left: 1px solid #fff;
    left: 400px;
    top:35px;
    
    transform: translateY(-50%);
}
/* Hearder User */
.header_navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header_navbar-user-img1{
    width: 22px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgbd(0,0,0,0.1);
    
  
}
.header_navbar-user-name{
    font-weight: 500;
    margin-left: 9px;
    margin-top: 2px;
}
/*Header menu */
.header_navbar-user-menu{
    position: absolute;
    background-color: #fff;
    
    top:100%;
    right: 0;
    border-radius: 5px;
    width: 160px;
    list-style: none;
    margin-top: 5px;
    padding: 4px ;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header_navbar-user-menu::before{
    content:"";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: -2px;
    top: -29px;
}
.header_navbar-user-item{
    padding: 5px 8px;
}
.header_navbar-user-item a{
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    
    display: block;/*??*/
} 
.header_navbar-user-item a:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.header_navbar-user-item a:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header_navbar-user-item:hover{
    background-color: #ddd;
}
.header_navbar-user:hover .header_navbar-user-menu{
    display: block;
}

.header_navbar-icon-link{
    color: #fff;
    text-decoration: none;
    
}
.header_navbar-icon {
    font-size: 1.6rem;
    padding: 0 5px;
}
.header_navbar-title--no-pointer{
    cursor: text;
    color: #fff;
}
/*header*/
.header_qr{
    background-color: #fff;
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 1s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.header_qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    
}
.header_qr-img{
    width: 100%;
}
.header_qr-apps{
    display: flex;
    justify-content: space-between;
}
.header_qr-link:first-child{
    margin-left: 11px;
}
.header_qr-link:nth-child(2){
    margin-right: 11px;
}

.header_qr-dowload-img{
    height: 16px;
   
}
/* Header notification*/
.header_notify{
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin:calc(100% - 20%) top ;
    animation: headerNotifygrowth ease-in 0.2s;
    display: none;
    z-index: 1;
}
.header_notify-header{
    height: 40px;
    
}
@keyframes headerNotifygrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header_notify-header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
   margin-left: 10px;
   cursor: text;

}
.header_notify-list{
    padding-left: 0;
}
.header_notify-item{
    display: flex;
}
.header_notify-item:hover{
    background-color: #f7f7f7;
}
.header_notify-item--viewed{
     background-color: rgba(238, 75, 43, 0.09)
}
.header_notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238, 75, 43, 0.09);
}
.header_notify-info{
    margin-left: 1.2rem;
}
.header_notify-img{
    width: 48px;
    object-fit: contain;
}
.header_notify-name{
    display: block;
    font-size: 1.4rem;
    color: black;
    font-weight: 400;
    padding: 6px 0;
}
.header_notify-decription{
    display: block;
    font-size: 1.4rem;
}
.header_notify-footer{
    display: flex;
    padding: 10px 0;
}
.header_notify-footer-btn{
    text-decoration: none;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
    
}
/* Authen modal */
.auth-form{
    width: 500px;
    height: 440px;
    overflow: hidden;
    border-radius: 10px;
}
.auth-form_conatiner{
    padding: 0 32px;
}
.auth_form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form_heading{
    font-size: 1.9rem;
    font-weight: 500;

}
.auth-form_switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color: #f53e2d;
    cursor: pointer;
}
.auth-form_input{
    width: 100%;
    height: 38px;
    margin-top: 20px;
    padding: 0 12px;
    border-radius: 4px;
    border :1px solid var(--border-color);
    outline: none;
}
.auth-form_input:focus{
    border-color: #999;
}
.auth-form_aside{
    margin-top: 18px;

}
.auth-form_policy-text{
    font-size: 14px;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form_text-link{
    text-decoration: none;
    color: #f53e2d;
}
.auth-form_controls{
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}
.auth-form_controls-back{
    margin-right: 6px;
}
.auth-form_social{
    margin-top: 12px;
    background-color: #d3d3d3;
    padding:  16px;
    display: flex;
    justify-content: space-around;
    
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    color: black;
   background-color:#f53e2d;
   text-align: center;
   padding: 6px 16pX;
   color: #fff;
   
}
.auth-form_social-icon{
    font-size: 1.8rem;
   
}
.auth-form_social--facebook.btn--with-icon{
    color: #fff;
   background-color:#3a5a98 ;
   
}
/*Login */
.auth-form_help{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 120px;
    margin-top: 24px;
}
.auth-form_help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

}
.auth-form_help-separate{
    display: block;
    border-left: 1px solid #999;
    height: 15px;
    margin: 0px 8px;
}
.auth-form_help-forget{
    color: #fe6433;/* color dc set lại ghi đè .auth-form_help-link*/
    font-weight: 500;
}

/* Header Search */
.header-with-search{
    height: var( --header-with-search-height);
    display: flex;
    align-items: center;
    margin:0 8px
}
.header_logo{
    width: 14%;
 
    color: #fff;
  
}
.header_logo-img{
    width: 80%;
}
.header_search{
    height: 40%;
    display: flex;
   flex:1;
    border-radius: 2px;
    background-color: #fff;
    margin-right: 10px ;
    align-items: center;
}
/* Cart*/
.header_cart{
   text-align: right;
   width: 74px;
 

}

.header_cart-icon{
    
    color: #fff;
    font-size: 2.0rem;
    margin-top: 8px;
}
/* Cart list*/
.header_cart-list {
    position: absolute;
    top: calc(100% + 4px);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    width: 400px;
    right: 5px;
    z-index: 1;
   animation: fadeIn ease-in 0.2s;
   cursor: default;
   display: none;
}
.header_cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 1px;
   top: -24px;
   border-width: 15px 12px;
   border-style: solid;
   border-color: transparent transparent #fff transparent;

}
.header_cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0px 8px;
    cursor: pointer;
}
.header_cart-wrap:hover .header_cart-list{
    display: block;
}
.header-cart-no-cart-img{
    width: 80%;
    padding: 18px 0;
    display: none;
    
}
.header_cart-list-no--cart .header-cart-no-cart-img,
.header_cart-list-no--cart .header_cart-list-no-cart-msg{
   /* display: block;*/
    margin-left:  auto;
    margin-right: auto;
}
.header_cart-list-no-cart-msg{
   /* display: block;*/
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #6e6969;
   
}
/* so san pham*/
.header_cart-heading{
    text-align: left;
    margin-top: 8px;
    margin-left: 12px;
    color: #666;
    font-size: 1.2rem;
    font-weight: 400;
}
.header_cart-list-item{
    padding-left: 0px;
    list-style: none;
    height: 400px;
    overflow-y: auto;
}
.header_cart-item{
    display: flex;
}
.header_cart-item:hover{
    background-color: #d3d3d3;
}
.header_cart-img{
    width: 10%;
    margin: 10px;
    border: 1px solid #d3d3d3;
}
.header_cart-item-head{
    display: flex;
   align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}  
.header_cart-item-info{
    width: 100%;
}
.header_cart-item-name{
    font-size: 1.2rem;
    font-weight: 650;
    line-height: 2rem;
    max-height: 4rem;
    flex: 1;
    overflow: hidden;
    padding-right:10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2 ;
    text-align: left;
}
.header_cart-item-price{
     color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 400;
}
.header_cart-item-multiply{
    font-size: 0.7rem;
    margin: 0 4px;
    color: #757575;
}
.header_cart-item-qnt{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header_cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header_cart-item-description{
    font-size: 1.3rem;
    font-weight: 450px;
}
.header_cart-item-remove{
    text-align: left;
    color: #757575;
    font-size: 1.3rem;
    margin: 0 12px;
}
.header_cart-item-remove:hover{
    color: #ce725f;
}
.header_cart-view-cart{
    background-color: #ee4d2d;
    color: #fff;
    float: right;
    margin: 0 12px 12px 0;
}

.header_cart-notice{
    position: absolute;
    color: #f53e2d;
    background-color: #fff;
    padding: 1px 8px;
    top:0;
    right: -3px;
    border-radius:2px solid #ee4d2d;
    border-radius: 18px;

}
.header_search-input-wrap{
    flex:1;
    height: 100%;
    position: relative;
}
.header_search-input{
    
    height: 100%;
    border:none ;
    outline:none ;
    
    font-size: 1.8rem;
    border-radius: 3px;
    padding: 0 13px;
    flex:1;
    width: 100%;
}
.header_search-select{
    border-left: 1px solid #fff;
    position: relative;
}
.select-input{z-index: 1;}
.header_search-select-label{
    font-size: 1.4rem;
    padding-left: 16px;
    padding-right: 3px;
    color:#000;
}
.header_search-select-icon{
    font-size:1.4rem;
    color: #6e6969;
    position: relative;/*di chuyeenr dc top*/
    top:1px;
    margin: 0 12px 0px 5px;

}
.header_search-select:hover .header_search-option{
    display: block;
}
.header_search-btn{
    background-color: #fe6433;
    border: none;
    height: 95%;
    border-radius: 4px;
    width: 7%;
}
.header_search-btn:hover{
    background-color: #ce725f;
    cursor: pointer;

}
.header_search-btn-icon {
    color: #fff;
}
.header_search-option{
    position: absolute;
    right: 0;
    top:100%;
    width: 100%;
    list-style: none;
    box-shadow:0 0 3px #ccc ;
    padding-left: 0;
   /* overflow: hidden;*/
   display: none;
   z-index: 1;
}
/*class gia*/
.header_search-option::after{
    content: "";
    display:block;
    /*background-color: #f53e2d;*/ /* cầu nối */
    width: 100%;
    height: 10px;
    top: -10px;
    position: absolute;

}
.header_search-option-item{
    background-color:#fff;
    
    padding: 8px 8px ;
    list-style: none;
    
}

.header_search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header_search-option-item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.header_search-option-item:hover{
    background-color: rgb(219, 207, 207);
}
.header_search-option-item span{
    font-size: 1.4rem;
    color: #000;
}
.header_search-option-item i{
    color: #ce725f;
    font-size: 1.2rem;
    display: none;
    
}
.header_search-option-item--active i{
    display: inline-block;
}

/* Search history*/
.header_search-history{
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
    width: calc(100% - 16px);
    top:calc(100% + 4px);
    left: 0;
    box-shadow: 0 1px 5px rgb(189,189,189);
    display: none;
    z-index: 1;
}
.header_search-input:focus ~ .header_search-history{
    display: block;
}
.header_search-history-heading{
    font-size: 1.4rem;
    padding: 0px 12px;
    color: #999;

}
.header_search-history-list{
   list-style: none;
   padding: 0 0 0 12px;
   margin-bottom: 0;
   
}
.header_search-history-item{
    padding: 5px 0px;

}
.header_search-history-item:hover{
    background-color: #fafafa;
}
.header_search-history-item a{
    text-decoration: none;
    line-height: 28px;
    font-size: 1.2rem;
    display: block;/* phủ toàn thẻ a*/
    color: #000;
}
/*App_ container*/
.app__container{
    background-color: #f5f5f5;

}
.category{
    background-color: #fff;
    border-radius: 2px;

}
.category-item{
    position: relative;
}
.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}
.category-item:first-child::before{
    display: none;
}
.category_heading{
    font-size: 1.7rem;
    color: #000;
    padding: 15px;
    /*border-bottom: 1px solid #ddd;*/
    margin-top: 0;
}
.category_heading-icon{
    font-size: 1.4rem;
    padding: 0px 5px;
}
.category-list{
    padding: 0 0 8px 0 ;
    margin-left: 18px;
    list-style: none;
}
.app__content{
    padding-top: 36px;
}
.category-item-active.category-item_link{
    color: #ce725f;
}
.category-item-active.category-item_link::before{
    position: absolute;
    border :4px solid;
    top:40%;
    left: 6px;
    content: "";
    transform: translateY(calc(-50%-1px));
    border-color: transparent transparent transparent #ce725f;
}
.category-item_link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: #666;
    padding:8px 20px;
    font-size: 1.4rem;
    display: block;/*padding*/
    font-weight: 500;
    transition: right linear 0.1s;
}
.category-item_link:hover{
    color: #ce725f;
    right: -4px;
}
/*Home sort + filter*/
.home-filter{
    background-color: rgba(0,0,0,0.04);
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    
}
.home-filter_page{
    display: flex;
    align-items: center;
    
}
.home-filter_btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter_label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.home-filter_page{
    margin-left: auto;
    align-items: center;
}
.home-filter_page-num{
    font-size: 1.4rem;
    padding: 0px 5px;
}
.home-filter_page-current{
    color: #ce725f;
}
.home-filter_page-control{
   border-radius: 2px;
   overflow: hidden;
   display: flex;
   width: 72px;
   margin-left: 10px;
}
.home-filter_page-btn{
    flex:1;
    display: flex;
    background-color: #fff;
    height: 36px;

}
.home-filter_page-icon{
    margin: auto;
    font-size: 1.2rem;
    color: #555;
}
.home-filter_page-btn:first-child{
    color: #eee;
}
.home-filter_page-btn:nth-child(2){
    color: #fff;
}
.home-filter_page-btn-disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter_page-btn-disabled .home-filter_page-icon {
    color: #ccc;
}
/* product -item*/
.home-product{
    margin-bottom: 20px;
}
.home-product-item{
    display: block;
    text-decoration: none;
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: tranform linear 0.1s;
    will-change: tranform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
}
.home-product-item_img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top-center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item_name{
    font-size: 1.4rem;
    color:#000;
    
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow:hidden ;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
   /* text-overflow: ellipsis;*/
}
.home-product-item_price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
   /* flex-wrap: wrap;*/
}
.home-product-item_price-old{
    font-size: 1.2rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item_price-current{
    font-size: 1.6rem;
    color: #f34421;
    margin-left: 6px;
}
.home-product-item_action{
    display: flex;
    justify-content: space-between;
    
}
.home-product-item_like{
    font-size:1.3rem ;
    margin: 10px 10px 0;

}
.home-product-item_rating{
    margin: 10px 10px 0;
    font-size: 0.9rem;
    color: #666;
    margin-left: 28px;
    
}
i.home-product-item_like-icon-fill{
    display: none;
    color: #f63d3d;
}
.home-product-item_like--liked .home-product-item_like-icon-fill{
    display: inline-block;
}
.home-product-item_like--liked .home-product-item_like-icon-empty{
    display: none;
}
.home-product-item_star--gold{
    color: #ffce3e;
}
.home-product-item_sold{
    margin: 10px 2px;
    font-size: 1rem;
    color: #000;
}
.home-product-item_brand{
    font-size: 1rem;
    font-weight: 500;
}
.home-product-item_origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 4px 20px 2px;
    padding-bottom: 10px;
    color: #555;

}
.home-product_origin-name{
    font-size: 1.2rem;
    font-weight: 550;
}
.home-product-item_favorite{
    position: absolute;
    top: 8px;
    left: -4px;
    background-color: currentColor;
    color: #f14e2e;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    align-items: center;
    line-height: 1.6rem;
    padding-right: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.home-product-item_favorite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);

}
.home-product-item_favorite span{
    color: #fff;
}
.home-product-item_favorite i{
    font-size: 0.9rem;
    margin: 0px 4px;
    color: #fff;
    
}
.home-product-item_sale-off{
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #f5e93a;
    width: 40px;
    height: 36px;
    text-align: center;

}
.home-product-item_sale-off::after{
    content: "";
    position: absolute;
    border-width: 0 25px 10px 16px;
    bottom:-9px ;
    left: 0;
    border-style: solid;
    border-color: transparent  #f5e93a transparent  #f5e93a;
    
}
.home-product-item_sale-off-percent{
    color: #e84f30;
    font-weight: 550;
    font-size: 1.2rem;
}
.home-product-item_sale-off-label{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 550;
    line-height: 1.4rem;
}
/*Footer*/
.footer{
    padding-top: 12px;
    border-top: 4px solid #ce725f;
}
.footer_heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #000;

}
.footer_list{
    list-style: none;
}
.footer-item{

}
.footer-item_link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    font-weight: 400;
    display: flex;
   padding: 4px 0;
   align-items: center;
    
}
.footer-item_link:hover{
    color: #ee5536;
}
.footer-item_icon{
    font-size: 1.5rem;
    margin-top: -1px;
    margin-right: 10px;
}
.footer-item_link a{
    margin: 10px;
}
.footer_download{
    display: flex;
}
.footer_download-qr{
    width: 80px;
    object-fit: contain;
}
.footer_app{
    
}
.footer_qr{

}
.footer_download-qr{

}
.footer_app-img{
    width: 80%;
    padding-top: 5px;
}