.header{
    height:var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header_navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header_navbar-item-link{
    display:inline-block ;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;

}
.header_navbar-item{
    margin: 0 8px;
    display:inline-block;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    position: relative;
}

.header_navbar-item--has-qr:hover .header_qr{
    display: block;
}
.header_navbar-item--has-notify:hover .header_notify{
    display: block;
}
.header_navbar-item,
.header_navbar-icon-link:hover,
.header_navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header_navbar-item,
.header_navbar-item-link,
.header_navbar-icon-link{
    

}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-item--strong{
    font-weight: 700;
}
.header_navbar-item--separate::after{
    content: "";
    display:block;
    position:absolute;
    width: 1px;
    height: 17px;
    border-left: 1px solid #fff;
    left: 400px;
    top:35px;
    
    transform: translateY(-50%);
}
.header_navbar-icon-link{
    color: #fff;
    text-decoration: none;
    
}
.header_navbar-icon {
    font-size: 1.6rem;
    padding: 0 5px;
}
.header_navbar-title--no-pointer{
    cursor: text;
    color: #fff;
}
/*header*/
.header_qr{
    background-color: #fff;
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 1s;
}
.header_qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    
}
.header_qr-img{
    width: 100%;
}
.header_qr-apps{
    display: flex;
    justify-content: space-between;
}
.header_qr-link:first-child{
    margin-left: 11px;
}
.header_qr-link:nth-child(2){
    margin-right: 11px;
}

.header_qr-dowload-img{
    height: 16px;
   
}
/* Header notification*/
.header_notify{
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin:calc(100% - 20%) top ;
    animation: headerNotifygrowth ease-in 0.2s;
    display: none;
}
.header_notify-header{
    height: 40px;
    
}
@keyframes headerNotifygrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header_notify-header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
   margin-left: 10px;
   cursor: text;

}
.header_notify-list{
    padding-left: 0;
}
.header_notify-item{
    display: flex;
}
.header_notify-item:hover{
    background-color: #f7f7f7;
}
.header_notify-item--viewed{
     background-color: rgba(238, 75, 43, 0.09)
}
.header_notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238, 75, 43, 0.09);
}
.header_notify-info{
    margin-left: 1.2rem;
}
.header_notify-img{
    width: 48px;
    object-fit: contain;
}
.header_notify-name{
    display: block;
    font-size: 1.4rem;
    color: black;
    font-weight: 400;
    padding: 6px 0;
}
.header_notify-decriotion{
    display: block;
    font-size: 1.4rem;
}
.header_notify-footer{
    display: flex;
    padding: 10px 0;
}
.header_notify-footer-btn{
    text-decoration: none;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
    
}
/* Authen modal */
.auth-form{
    width: 500px;
    height: 440px;
    overflow: hidden;
    border-radius: 10px;
}
.auth-form_conatiner{
    padding: 0 32px;
}
.auth_form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form_heading{
    font-size: 1.9rem;
    font-weight: 500;

}
.auth-form_switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color: #f53e2d;
    cursor: pointer;
}
.auth-form_form{
    
}
.auth-form_group{

}
.auth-form_input{
    width: 100%;
    height: 38px;
    margin-top: 20px;
    padding: 0 12px;
    border-radius: 4px;
    border :1px solid var(--border-color);
    outline: none;
}
.auth-form_input:focus{
    border-color: #999;
}
.auth-form_aside{
    margin-top: 18px;

}
.auth-form_policy-text{
    font-size: 14px;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form_text-link{
    text-decoration: none;
    color: #f53e2d;
}
.auth-form_controls{
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}
.auth-form_controls-back{
    margin-right: 6px;
}
.btn{

}

.btn .btn--primary{

}
.auth-form_social{
    margin-top: 12px;
    background-color: #d3d3d3;
    padding:  16px;
    display: flex;
    justify-content: space-around;
    
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    color: black;
   background-color:#f53e2d;
   text-align: center;
   padding: 6px 16pX;
   color: #fff;
   
}
.auth-form_social-icon{
    font-size: 1.8rem;
   
}
.auth-form_social--facebook.btn--with-icon{
    color: #fff;
   background-color:#3a5a98 ;
   
}
/*Login */
.auth-form_help{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 120px;
    margin-top: 24px;
}
.auth-form_help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

}
.auth-form_help-separate{
    display: block;
    border-left: 1px solid #999;
    height: 15px;
    margin: 0px 8px;
}
.auth-form_help-forget{
    color: #fe6433;/* color dc set lại ghi đè .auth-form_help-link*/
    font-weight: 500;
}

/* Header Search */
.header-with-search{
    height: var( --header-with-search-height);
    display: flex;
    align-items: center;
    margin:0 8px
}
.header_logo{
    width: 14%;
 
    color: #fff;
  
}
.header_logo-img{
    width: 80%;
}
.header_search{
    height: 40%;
    display: flex;
   flex:1;
    border-radius: 2px;
    background-color: #fff;
    margin-right: 10px ;
    align-items: center;
}
.header_cart{
   text-align: center;
   width: 120px;
}
.header_cart-icon{
    
    color: #fff;
    font-size: 2.0rem;
    margin-top: 8px;
}
.header_search-input-wrap{
    flex:1;
    height: 100%;
    position: relative;
}
.header_search-input{
    
    height: 100%;
    border:none ;
    outline:none ;
    
    font-size: 1.8rem;
    border-radius: 3px;
    padding: 0 13px;
    flex:1;
    width: 100%;
}
.header_search-select{
    border-left: 1px solid #fff;
    position: relative;

}
.header_search-select-label{
    font-size: 1.4rem;
    padding-left: 16px;
    padding-right: 3px;
    color:#000;
}
.header_search-select-icon{
    font-size:1.4rem;
    color: #6e6969;
    position: relative;/*di chuyeenr dc top*/
    top:1px;
    margin: 0 12px 0px 5px;

}
.header_search-select:hover .header_search-option{
    display: block;
}
.header_search-btn{
    background-color: #fe6433;
    border: none;
    height: 95%;
    border-radius: 4px;
    width: 7%;
}
.header_search-btn:hover{
    background-color: #ce725f;
    cursor: pointer;

}
.header_search-btn-icon {
    color: #fff;
}
.header_search-option{
    position: absolute;
    right: 0;
    top:100%;
    width: 100%;
    list-style: none;
    box-shadow:0 0 3px #ccc ;
    padding-left: 0;
   /* overflow: hidden;*/
   display: none;
}
/*class gia*/
.header_search-option::after{
    content: "";
    display:block;
    /*background-color: #f53e2d;*/ /* cầu nối */
    width: 100%;
    height: 10px;
    top: -10px;
    position: absolute;

}
.header_search-option-item{
    background-color:#fff;
    
    padding: 8px 8px ;
    list-style: none;
    
}

.header_search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header_search-option-item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.header_search-option-item:hover{
    background-color: rgb(219, 207, 207);
}
.header_search-option-item span{
    font-size: 1.4rem;
    color: #000;
}
.header_search-option-item i{
    color: #ce725f;
    font-size: 1.2rem;
    display: none;
    
}
.header_search-option-item--active i{
    display: inline-block;
}
.header_search-option-item i{
    
}
/* Search history*/
.header_search-history{
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
    width: calc(100% - 16px);
    top:calc(100% + 4px);
    left: 0;
    box-shadow: 0 1px 5px rgb(189,189,189);
    display: none;
}
.header_search-input:focus ~ .header_search-history{
    display: block;
}
.header_search-history-heading{
    font-size: 1.4rem;
    padding: 0px 12px;
    color: #999;

}
.header_search-history-list{
   list-style: none;
   padding: 0 0 0 12px;
   margin-bottom: 0;
   
}
.header_search-history-item{
    padding: 5px 0px;

}
.header_search-history-item:hover{
    background-color: #fafafa;
}
.header_search-history-item a{
    text-decoration: none;
    line-height: 28px;
    font-size: 1.2rem;
    display: block;/* phủ toàn thẻ a*/
    color: #000;
}